body {
    background-color: lightblue;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #3498db;
    padding: 30px;
}

main {
    padding: 30px;
}

section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

h1 {
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

p {
  font-family: verdana;
  font-size: 20px;
}